#Retira{
	position: absolute;
 	right: 120px;
	top: 20%;

}

#Adiciona{
	position: absolute;
 	right: 10px;
	top: 20%;
}

#ContProd{
	position: absolute;
 	right: 71px;
	top: 30%;
	width: 40px;
	height: 35px;
}

.appcontainer{
	position: absolute;
	top: 44px;
	left: 0;
	width:100vw;
	height: calc(100vh - 44px);
	max-height: calc(100vh - 44px);
}
